<main class="main-content">
    <div class="container"> 
    <div *ngIf="donation" class="details">

        <div class="row" >
            <div class="col-md-6">
                <figure class="movie-poster"><img style="height: auto; width: 100%;" [src]='sanitizeImageUrl(donation.img.toString())'  alt="Game 1"></figure>
            </div>
            <div class="col-md-6">
                <h2 class="movie-title">{{donation.nom}}</h2>
                <div class="movie-summary">
                    <p>{{donation.description}} </p>

                </div>
                <ul class="movie-meta">
                    
                    <li><strong>price:</strong> {{donation.price}} $</li>
                </ul>

               <button class="btn btn-dark " > how to donate </button>
            </div>
        </div> <!-- .row -->
        <div class="entry-content">
        


            
        </div>
  








        </div>
        </div>
        </main>
