<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-md-4">
          <figure>
            <img
              src="https://media.discordapp.net/attachments/722053143390846978/779837383285801030/seal_1.png?width=678&height=677"
              alt="figure image"
            />
          </figure>
        </div>
        <div class="col-md-8">
          <p class="leading">Tunisian Dark Rp</p>
          <p>
            Tunisian dark is an Rp server created in early 2020 and is currently
            one of the top servers in Tunisia with a huge community of 1000+
            players and a staff team composed by at least 20 member all joined
            in together from all over the world to help grow the community and
            maintain a healthy environment To join the server you need to apply
            first and wait for your admission notification in order to procceed
            to the interview process make sure your check the rules before you
            apply
          </p>
          <button
            type="button"
            style="margin-left: 50px"
            class="btn btn-success btn-lg"
            (click)="go()"
          >
            whiteList application
          </button>
        </div>
      </div>

      <div class="row" style="display: flex; justify-content: space-between">
        <div class="col-md-5" style="margin-right: 30px">
          <iframe
            width="500"
            height="315"
            src="https://www.youtube.com/embed/5zOOGi94TlM"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-md-5">
          <iframe
            width="500"
            height="315"
            src="https://www.youtube.com/embed/nUvmyds7lIk"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- .container -->
</main>
