
<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a href="index.html">Home</a>
                <span>Contact</span>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Contact</h2>
                        if you have any questions you can email us down below or join any of our discord assist room 
                        <div class="contact-form">
                            <input type="text" class="name" placeholder="name...">
                            <input type="text" class="email" placeholder="email...">
                            <input type="text" class="website" placeholder="website...">
                            <textarea class="message" placeholder="message..."></textarea>
                            <input type="submit" value="Send Message ">

                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                        <div class="map">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Rioa9Osgvps" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</main>