.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.box div {
    width: 1500px;
    height: 1600px;
  }

  .site-footer {
    padding:  20px;
background-color: purple;
 }
    .site-footer .widget {
      margin-bottom: 30px; }
    .site-footer .widget-title {
      color: #bec1c8;
      font-weight: 300; }
    .site-footer .subscribe-form input[type="text"] {
      width: 100%;
      border: 1px solid #bec1c8;
      background-color: transparent;
      
      background-repeat: no-repeat;
      background-position: right center;
      color: inherit;
      font-size: 13px;
      font-size: 0.8666666667em;
      -webkit-transition: .3s ease;
              transition: .3s ease; }
      .site-footer .subscribe-form input[type="text"]:focus, .site-footer .subscribe-form input[type="text"]:hover {
        border-color: #ffaa3c; }
    .site-footer a {
      color: #84878d;
      -webkit-transition: .3s ease;
              transition: .3s ease; }
      .site-footer a:hover {
        color: #ffaa3c; }
    .site-footer .colophon {
      padding-top: 30px; }
  
