@import '~bootstrap/dist/css/bootstrap.min.css';
.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  .carousel-caption {
	bottom: 270px;
  }
  .img{
	  object-fit: contain;
	  size: 40px;
	  width: 100px;
	  margin-right: 200px;

  }
  
  .carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	
  }
  .a{
	  color: black;
  }
  
  .carousel-caption p {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
  }
  p{
	  color: white;
  }
  body {
	/* Location of the image */
	background-image: url(https://wallpapercave.com/wp/wp5315389.jpg);
	
	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;
	
	/* Background image doesn't tile */
	background-repeat: no-repeat;
	
	/* Background image is fixed in the viewport so that it doesn't move when 
	   the content's height is greater than the image's height */
	background-attachment: fixed;
	
	/* This is what makes the background image rescale based
	   on the container's size */
	background-size: cover;
  }
 
  .d-block w-100{
	  background-size: cover;
	  background-position: center center;

  }
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
	color: #fff;
  }
  
  .navbar-toggler {
	background: black;
  }
  
  .navbar-nav {
	text-align: center;
  }
  
  .nav-link {
	padding: .2rem 1rem;
	margin-left: 10px;
  }
  
  .nav-link.active,.nav-link:focus{
	color: purple;
  }
  
  .navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color:yellow;
  }
  
  
  
  
  
  
  /* ignore the code below */
  
 