
<div class="words" > 
    <div style="display: flex; justify-content: space-between;"> 
      
  <div>  
        <h1 style="color: white;">Welcome   </h1>    
        <p> To Tunisian Dark </p>
        <div class="parapgraphe ">
                <h5>Welcome to one of the best tunisian RP servers  with over 1000+ member  <br>   Click below to connect to the server or join our Discord </h5>
        </div>
       
        

  </div>
  <div style="margin-left: 100px;  
   border-radius: 60px;"> 
  <iframe width="760" height="450" src="https://www.youtube.com/embed/lY8B0x5-Qdo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div> 
</div>
</div>
  <div class="container-fluid" >
      <div class="row" style="display: flex; justify-content: space-evenly;">
        <div class="col-md-3">
              <div style="padding: 30px;"> 
            <iframe src="https://api.trackyserver.com/widget/tracky?id=639023&lang_code=fr&map=1&version=1&votes=1&plist=1&connect=1&button_name=Connection&color1=FF8415&color2=333333&color3=333333&color4=FFFFFF&color5=FFFFFF&color7=8A8E94&color8=8a8e94&color9=fff&title=Tunisian Dark " width="400" height="300" allowtransparency="true" frameborder="0"></iframe>
      </div>
      </div>
        <div class="col-md-3">
            <div style="padding: 30px;"> 
                  <iframe  src="https://discord.com/widget?id=712158065906155560&theme=dark" width="500" height="300" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>            </div>

        </div>
    </div>
    <div class="row">
  <div class="main-content">
      <div class="container">
                <div style="display: flex; justify-content: center; flex-direction: column;"> 
            <h2>Rules</h2> <br> 
            <p style="color: white;"> Server Rules: <br>
                
                  
                 <strong> Vehicle Death Match (VDM):</strong> Ki to9tel 3abd bel karhba <br>
                <strong > Random Death Match (RDM):</strong> To9tel 3abd ma8ir sbab <br>
                 <strong> New life rule:</strong> <br>
                  *Ken dokht b sle7 abyedh/bounya w jek EMS fay9ek ----> Tetfaker kolchay <br>
                  *Ken tedhrabt bel kartouch w dokht w jek EMS -----> Tensa e5er scene saretlek <br>
                  *Ken dokht w majekech l EMS respawnit fi sbitar ----> Tensa nhar kemel mel 7yetek <br>
                  <strong> combat Logging: </strong><br>To5rej AFK/ALT+F4 w enti f scene <br>
                  <strong> combat Storing:</strong><br>
                  *Temchi t5abi karhabtek fel garage wa9teli fama chkoun khalet 3lik<br>
                  *Tebda hareb men chkoun 3ala sa9ik tod5el lel garage/Fourrière t5araj karhabtek w tohreb<br>
                 <strong>Fail Drive:</strong> <br>
                  *Tetla3 fi jbal b karhba/moto moch OFF ROAD<br>
                  *Tsou9 karhba w fiha 3ajla man9ouba<br>
                  *Tnaguez min blassa 3alya b karhba/moto<br>
                     PS: L karhba/moto rahi yelzem tkoun de base OFF-ROAD mch trakkeb 3ajla tout-terrain w t9olli OFF-ROAD<br>
                 <strong> Clearshot: </strong> <br> Fil RP ma famech 7aja esm'ha clearshot ki yebda fama otage<br>
                   Ma3andekech el 7a9 Tprovoqui Hakem/Haras 9ODDEM L MARKEZ bech yakhlet wrak<br>
                   <strong>WIN RP:</strong> ki tebda t7awel bech terba7 scene b ay tari9a    <br>
                   <strong>Disrespect: </strong> Tseb fel RP 3adi, ama l Kofr w saben chajara l 3a2iliya INTERDIT (RP/HRP) ===> PERMABAN   <br>
                   <strong>Events-HRP: </strong> Ay scene walla ay info RP bch tsir to3tabar mahech valide   <br>
                   <strong> Fear RP :</strong> Ki tesma3 RP/HRP elli fama chkoun bch ya3malek MortRP walla bech y7ellek l gang mte3ek to93od fi SafeZone walla ma3adech todkhel lil serveur  <br>
                  
                 </p> 
      </div>
          </div>
      </div> <!-- .container -->
    
    </div>
    <div style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ccc;
    font-family: Roboto, 'Open Sans', Arial;
    box-sizing: border-box;
    outline: none !important;
    transition: all .4s ease-in-out;
    animation: wpb_appear .7s 1 cubic-bezier(.175,.885,.32,1.275);
    transform: scale(1);
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    margin-bottom: 25px;
    text-align: center;" class="wpb_single_image  wpb_content_element vc_align_center  wpb_animate_when_almost_visible wpb_appear appear wpb_start_animation animated">
		
      <figure class="wpb_wrapper vc_figure">
        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1088" height="622" src="https://tunisianunderground.com/wp-content/uploads/2020/05/fresponsive-1.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://tunisianunderground.com/wp-content/uploads/2020/05/fresponsive-1.png 1088w, https://tunisianunderground.com/wp-content/uploads/2020/05/fresponsive-1-600x343.png 600w, https://tunisianunderground.com/wp-content/uploads/2020/05/fresponsive-1-300x172.png 300w, https://tunisianunderground.com/wp-content/uploads/2020/05/fresponsive-1-1024x585.png 1024w, https://tunisianunderground.com/wp-content/uploads/2020/05/fresponsive-1-768x439.png 768w" sizes="(max-width: 1088px) 100vw, 1088px"></div>
      </figure>
    </div>
    <div class="container-fluid" >
      <div class="row" style="display: flex; justify-content: space-evenly;">

  <div class="col-md-12">
    
    <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_left-to-right left-to-right vc_custom_1594226892502 wpb_start_animation animated">
      <div class="wpb_wrapper">
        <h1 style="text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 5px; text-transform: none; color: #2124dd; margin-top: 0px; margin-bottom: 0px; text-align: center;"><span style="color: #ff0000;">WHO WE ARE?</span></h1>
  <h2 style="text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 5px; text-transform: none; color: #eeeeee; margin-top: 0px; margin-bottom: 0px; text-align: center;">
    Tunisian Dark&nbsp; &nbsp;Gaming is a well established Tunisian Gaming Community involved in a
     wide variety of games who strive to build a gaming environment that embraces honesty, loyalty
     , and camaraderie above all else. For over 1 year we have strived to provide quality and transparency
      to our members, and look forward to ensuring everyone has a voice in the direction of the community.</h2>
  
      </div>
    </div>


</div>
</div>


    </div>
    
  
  
    


